* {
    cursor: none !important;
}

#cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

#cursor-ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.315);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px black;
    transition: width 0.4s ease, height 0.4s ease,
        background 0.4s ease, border-color 0.3s ease;
}

#cursor-text {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    color: white;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

body.cursor-hover #cursor-dot {
    height: 0;
    width: 0;
}

body.cursor-hover #cursor-ring {
    width: 75px;
    height: 75px;
    border-color: white;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(4px);
}

body.cursor-hover #cursor-text {
    opacity: 1;
}

body.cursor-card #cursor-ring {
    width: 65px;
    height: 65px;
    background: rgba(41, 151, 255, 0.15);
    border-color: #2997ff;
}

body.cursor-card #cursor-text {
    opacity: 1;
    color: #2997ff;
}